{:highlights [{:id #uuid "6618071d-5c23-4a34-b92c-62648f1613c2",
               :page 1,
               :position {:bounding {:x1 105.515625,
                                     :y1 444.234375,
                                     :x2 682.9269409179688,
                                     :y2 471.0625,
                                     :width 799.9999999999999,
                                     :height 1027.8062229224101},
                          :rects ({:x1 105.515625,
                                   :y1 444.234375,
                                   :x2 682.9269409179688,
                                   :y2 459.234375,
                                   :width 799.9999999999999,
                                   :height 1027.8062229224101}
                                  {:x1 106.46875,
                                   :y1 460.0625,
                                   :x2 153.42002868652344,
                                   :y2 471.0625,
                                   :width 799.9999999999999,
                                   :height 1027.8062229224101}),
                          :page 1},
               :content {:text "Thank you for your recent request on 10-23-٧1ل for images related to your account ending in 8868."},
               :properties {:color "yellow"}}
              {:id #uuid "661807ca-a9be-4ba1-a8e3-97bce74824c3",
               :page 2,
               :position {:bounding {:x1 185.0985107421875,
                                     :y1 745.140625,
                                     :x2 706.5548706054688,
                                     :y2 755.734375,
                                     :width 909.2831823552578,
                                     :height 1167.3375344623864},
                          :rects ({:x1 185.0985107421875,
                                   :y1 745.140625,
                                   :x2 198.765625,
                                   :y2 754.140625,
                                   :width 909.2831823552578,
                                   :height 1167.3375344623864}
                                  {:x1 218.21875,
                                   :y1 745.140625,
                                   :x2 354.25,
                                   :y2 754.140625,
                                   :width 909.2831823552578,
                                   :height 1167.3375344623864}
                                  {:x1 581.65625,
                                   :y1 745.734375,
                                   :x2 634.65625,
                                   :y2 755.734375,
                                   :width 909.2831823552578,
                                   :height 1167.3375344623864}
                                  {:x1 658.765625,
                                   :y1 745.734375,
                                   :x2 706.5548706054688,
                                   :y2 755.734375,
                                   :width 909.2831823552578,
                                   :height 1167.3375344623864}),
                          :page 2},
               :content {:text "10 Transfer From ChkXxxxx3322 211,688.50 211,663.50"},
               :properties {:color "yellow"}}],
 :extra {:page 95}}
